@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --radius:0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


body {
  background-color: black;
  color: white;
}

.vds-video-layout {
  --media-brand: hsl(var(--primary));
  --media-controls-color:  hsl(var(--primary-foreground));
  --media-cue-backdrop: blur(0px);
  --media-cue-bg: rgba(0, 0, 0, 0);
}
.vds-button{
  margin: 0px 5px;
}


.logo {
  font-family: 'Bebas Neue', sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: 'Netflix-regular';
  src: url('../../public/fonts/NetflixSans_W_Rg.woff2') format('woff');
}

@font-face {
  font-family: 'Netflix-medium';
  src: url('../../public/fonts/NetflixSans_W_Md.woff2') format('woff');
}

@font-face {
  font-family: 'Netflix-bold';
  src: url('../../public/fonts/NetflixSans_W_Blk.woff2') format('woff');
}

.infinity-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.infinity-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: .25rem;
  border-radius: 5px; 
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; 
  height: 10px; 
  background: hsl(var(--primary));
  cursor: pointer;
  border-radius: 50%;

}

input[type='range']::-moz-range-thumb {
  width: 10px; 
  height: 10px; 
  background: hsl(var(--primary));
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 40px 0 4px 0 rgba(0, 0, 0, 0.5); 
} */