@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 356, 75%, 49%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 356, 75%, 49%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 356, 75%, 49%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body{
    background-color: black;
    color: white;
}

.logo{
  font-family: 'Bebas Neue', sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@font-face {
    font-family: 'Netflix-regular';
    src: url('../../public/fonts/NetflixSans_W_Rg.woff2') format('woff');
}
@font-face {
    font-family: 'Netflix-medium';
    src: url('../../public/fonts/NetflixSans_W_Md.woff2') format('woff');
}
@font-face {
    font-family: 'Netflix-bold';
    src: url('../../public/fonts/NetflixSans_W_Blk.woff2') format('woff');
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
.swiper-pagination-bullet {
  background-color: white;
  border: 2px solid black;
}

.swiper-pagination-bullet-active {
  background-color: #DB202C !important;
  border: none;
}

